.tech-stack-section {
  padding: 60px 20px;
  background-color: #0d0c1d;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.tech-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.tech-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.tech-row {
  display: flex;
  gap: 10rem;
  justify-content: center;
  flex-wrap: wrap;
}

.tech-icon img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
  background-color: transparent;
}

.tech-icon:hover img {
  transform: scale(1.3);
}

@media (max-width: 600px) {
  .tech-icon img {
    width: 45px;
  }

  .tech-row {
    gap: 25px;
  }
}
